body {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 100vh; /* 화면 전체 높이 */
  margin: 0; /* 기본 여백 제거 */
}

.member_info {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.member_name,
.member_point {
  width: auto; /* 고정된 너비 제거 */
  text-align: center;
}

.member_name {
  width: 122px;
  height: 61px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.member_point {
  width: 122px;
  height: 61px;
  text-align: center;
  font-size: 15px;
}

.usedStore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.useWrite {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  gap: 10px;
  font-size: 15px;
  font-family: "NanumBarunGothicBold";
}

.btn div {
  margin: 0;
}

.pw_changebtn {
  border: none;
  background-color: white;
}

.logoutbtn {
  margin-top: 20px;
  border: none;
  background-color: white;
}

img {
  vertical-align: middle;
}
