/* body, footer 경계선 */
.footerButton img {
  margin-top: 10px;
}

/* footer 부분 버튼 배치 */
.footerButton {
  position: fixed;
  bottom: -50px;
  /* 화면의 아래쪽에 고정 */
  left: 50%;
  /* 가로 중앙에 위치 */
  transform: translateX(-50%);
  /* 버튼을 정확히 중앙으로 이동 */
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid grey;
}

/* footer 버튼 배치 */
.footerButton button {
  width: 78px;
  height: 82px;
  border: white solid;
  background-color: white;
}

/* footer 부분 버튼 */
.footerbtnimg {
  margin-bottom: 70px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.listMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  background: white;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1010;
}

.listMenu.open {
  transform: translateX(0);
}

.listMenu h2 {
  margin: 40px 0 40px 0;
}

.listMenu ul {
  list-style: none;
  padding: 0;
}

.listMenu ul li {
  font-size: 17px;
  margin: 15px 0;
  cursor: pointer;
  padding: 1px;
}

.x {
  all: unset;
  position: absolute;
  left: 80%;
}